.brand-slider {
	padding-bottom: 74px;

	&__wrapper {
		justify-content: flex-start;
		gap: 100px;
	}

	&__list {
		position: relative;
		gap: 60px;
		padding-left: 30px;
	}

	&__button {
		position: absolute;
		top: 50%;

		&--prev {
			left: 5px;
			transform: translateY(-50%) rotate(180deg);
		}

		&--next {
			right: 10px;
			transform: translateY(-50%);
		}
	}
}

.all-brands {
	gap: 17px;

	&__header {
		font-size: $small;
		color: $gray;
	}

	&__link {
		background-color: $blue-light;
		padding: 3px 7px;
		border-radius: 30px;
	}
}
