.letters {
	padding-bottom: 20px;

	&__list {
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		&--active {
			background-color: $blue-light;
			width: 26px;
			height: 26px;
			padding: 3px;
			border-radius: 30px;
			text-align: center;
			transition: all 0.2s ease-in-out;

			> .letters__link {
				color: $blue;
				font-weight: bold;
			}
		}
	}

	&__link {
		color: $gray;
		opacity: 1;
		font-size: small;
	}
}
