.second-option {
  padding-top: 10px;
  padding-bottom: 17px;

  &__container {
    align-items: center;
    justify-content: space-between;
  }

  &-title__subtitle {
    text-align: left;
    max-width: 160px;
    font-size: 12px;
    color: #575364;
    margin-left: 30px;
    margin-right: 14px;
  }

  &-search__wrapper {
    flex: 1;
    padding-left: 14px;
    padding-right: 20px;
  }
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.button {
  align-items: center;
  gap: 6px;
  padding: 15px 20px 14px;
  border-radius: 30px;
  border: none;
  background-color: $blue;
  min-width: 195px;

  &__text {
    color: $light;
    font-weight: bold;
    font-size: 13px;
  }
}

.input {
  position: relative;

  &__field {
    width: 100%;
    padding: 15px 35px;
    border-radius: 30px;
    background-color: $light;
    border: 1px solid #e7e7e7;
    text-overflow: ellipsis;
  }

  &__field::placeholder {
    color: $gray;
    font-family: 'Evolventa', sans-serif;
    font-size: $extra-small;
    margin-right: 10px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 19px;
    margin-top: 2px;
    transform: translateY(-50%);
  }
}

.account-menu {
  &__item {
    flex-direction: column;
  }

  &__shopping-icon {
    position: relative;
  }

  &__count {
    position: absolute;
    top: -8px;
    right: -10px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2.5px 0;
    background-color: $blue;
    color: $light;
    font-size: 'Onest', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 9px;
  }

  &__title {
    padding: 5px;
    font-size: 11px;
  }
}

.account-menu {
  gap: 7px;
}
