@mixin font-face($font-name, $path, $weight, $style) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('#{$path}.ttf') format('truetype');
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}
