<div class="category bg--accent">
	<div class="category__wrapper container flex">
		<nav class="category-menu">
			<ul class="category-menu__list flex-items">
				<li class="category-menu__item">
					<a href="#" class="category-menu__link category-menu__link--accent">Акции</a>
				</li>
				<li class="category-menu__item">
					<a href="#" class="category-menu__link">Женский парфюм</a>
				</li>
				<li class="category-menu__item category-menu__item--active">
					<a href="#" class="category-menu__link">Мужской парфюм</a>
				</li>
				<li class="category-menu__item">
					<a href="#" class="category-menu__link">Нишевая парфюмерия</a>
				</li>
				<li class="category-menu__item">
					<a href="#" class="category-menu__link">Уходовая косметика</a>
				</li>
				<li class="category-menu__item">
					<a href="#" class="category-menu__link">Доставка и оплата</a>
				</li>
				<li class="category-menu__item">
					<a href="#" class="category-menu__link">Распродажа</a>
				</li>
			</ul>
		</nav>

		<div class="category-media">
			<div class="media-icons">
				<div class="media-icons__wrapper flex-items">
					<img src="/img/icons/telegram.svg" alt="telegram" loading="lazy" width="24" height="24" />
					<img src="/img/icons/whatsapp.svg" alt="whatsapp" loading="lazy" width="21" height="21" />
					<p class="phone phone--small">+7 495 374-58-57</p>
				</div>
			</div>
		</div>
	</div>
</div>
