<footer class="footer">
    <div class="footer__wrapper container grid">
        <div class="footer__item flex">
            <a href="#" class="logo">ParfumParadise</a>
            <p class="footer__item-copyright">2024 © parfum-paradise.ru 2006-2018</p>
            <img src="/img/images/pay-icons-1.png" alt="pay-icons-1">
            <img src="/img/images/pay-icons-2.png" alt="pay-icons-2">
        </div>

        <div class="footer__item flex">
            <h4 class="footer__item-header">О компании</h4>
            <nav class="footer__menu">
                <ul class="footer__menu-list flex">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">О магазине</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Условия оплаты</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Условия доставки</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Помощь покупателю</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="footer__item flex">
            <h4 class="footer__item-header">Покупателю</h4>
            <nav class="footer__menu">
                <ul class="footer__menu-list flex">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Личный кабинет</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Бонусная программа</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Вопросы и ответы</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Блог</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Обзоры</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="footer__item flex">
            <h4 class="footer__item-header">Контакты</h4>
            <div class="footer__contacts flex">
                <div class="footer__contacts-phone">
                    <img src="/img/icons/phone.svg" alt="phone" loading="lazy" width="20" height="20">
                    +7 495 374-58-57
                </div>
                <div class="footer__contacts-email">
                    <img src="/img/icons/envelope.svg" alt="envelope" loading="lazy" width="20" height="20">
                    zakaz@parfum-paradise.ru
                </div>
                <div class="footer__contacts-address">
                    <img src="/img/icons/location.svg" alt="location" loading="lazy" width="20" height="20">
                    г.Москва, ул. Пушкина 19
                </div>
            </div>
        </div>
    </div>
</footer>