<div class="header-slider">
  <div class="container">
    <div class="swiper header-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="header-slider__slide" src="/img/images/header-slider/header-image.png" alt="slide 1"
            loading="lazy" />
        </div>
        <div class="swiper-slide">
          <img class="header-slider__slide" src="/img/images/header-slider/header-image.png" alt="slide 1"
            loading="lazy" />
        </div>
        <div class="swiper-slide">
          <img class="header-slider__slide" src="/img/images/header-slider/header-image.png" alt="slide 1"
            loading="lazy" />
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>