<div class="letters">
	<div class="container">
		<ul class="letters__list flex-items">
			<li class="letters__item letters__item--active">
				<a href="#" class="letters__link">A</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">B</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">C</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">D</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">E</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">F</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">G</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">H</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">I</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">G</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">K</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">L</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">M</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">N</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">O</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">P</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">Q</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">R</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">S</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">T</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">V</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">U</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">W</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">X</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">Y</a>
			</li>
			<li class="letters__item">
				<a href="#" class="letters__link">Z</a>
			</li>
		</ul>
	</div>
</div>