<div class="letters">
	<div class="container">
		<ul class="letters__list flex-items">
			<li class="letters__item letters__item--active">
				<button href="#" class="letters__link">A</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">B</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">C</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">D</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">E</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">F</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">G</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">H</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">I</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">G</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">K</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">L</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">M</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">N</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">O</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">P</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">Q</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">R</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">S</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">T</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">V</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">U</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">W</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">X</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">Y</button>
			</li>
			<li class="letters__item">
				<button href="#" class="letters__link">Z</button>
			</li>
		</ul>
	</div>
</div>