<nav class="main-option bg--accent">
  <ul class="main-option__list container flex">
    <li class="main-option__item flex-items">
      <a href="#" class="main-option__link flex-items">
        <img src="/img/icons/box.svg" alt="box" loading="lazy" width="20" height="20" />
        Быстрая доставка по всей РФ
      </a>
      <a href="#" class="main-option__info">
        <img src="/img/icons/info.svg" alt="info" />
      </a>
    </li>
    <li class="main-option__item flex-items">
      <a href="#" class="main-option__link flex-items">
        <img src="/img/icons/shield.svg" alt="shield" loading="lazy" width="20" height="20" />
        100% оригинальная продукция
      </a>
      <a href="#" class="main-option__info">
        <img src="/img/icons/info.svg" alt="info" />
      </a>
    </li>
    <li class="main-option__item flex-items">
      <a href="#" class="main-option__link flex-items">
        <img src="/img/icons/like.svg" alt="like" loading="lazy" width="20" height="20" />
        Легкий возврат
      </a>
      <a href="#" class="main-option__info">
        <img src="/img/icons/info.svg" alt="info" />
      </a>
    </li>
    <li class="main-option__item flex-items">
      <a href="#" class="main-option__link flex-items">
        <img src="/img/icons/coin.svg" alt="coin" loading="lazy" width="20" height="20" />
        <span class="main-option__text--underline">Бонусная программа (150 б)</span>
      </a>
    </li>
    <li class="main-option__item flex-items">
      <a href="#" class="main-option__link flex-items">
        <img src="/img/icons/profile.svg" alt="profile" loading="lazy" width="20" height="20" />
        <span class="main-option__text--underline">Личный кабинет</span>
      </a>
    </li>
  </ul>
</nav>