<div class="second-option">
  <div class="second-option__container flex container">
    <div class="second-option-title__wrapper flex-items">
      <a href="#" class="logo">ParfumParadise</a>
      <p class="second-option-title__subtitle">Магазин оригинальной парфюмерии и косметики</p>
      <button class="button flex">
        <img src="/img/icons/grid.svg" alt="grid" loading="lazy" width="20" height="20" />
        <p class="button__text">Каталог продукции</p>
      </button>
    </div>

    <div class="second-option-search__wrapper">
      <div class="input">
        <input class="input__field" type="text" placeholder="Умный поиск: burberry бёрберри бурберри" />
        <a href="#" class="input__icon">
          <img src="/img/icons/search.svg" alt="search" loading="lazy" width="20" height="20" />
        </a>
      </div>
    </div>

    <div class="account-menu flex-items">
      <a href="#" class="account-menu__item flex-items">
        <img src="/img/icons/heart.svg" alt="heart" loading="lazy" width="20" height="20" />
        <p class="account-menu__title">Избранное</p>
      </a>
      <a href="#" class="account-menu__item flex-items">
        <img src="/img/icons/align.svg" alt="align" loading="lazy" width="20" height="20" />
        <p class="account-menu__title">Сравнение</p>
      </a>
      <a href="#" class="account-menu__item flex-items">
        <div class="account-menu__shopping-icon flex-items">
          <img src="/img/icons/shopping.svg" alt="shopping" loading="lazy" width="20" height="20" />
          <span class="account-menu__count">24</span>
        </div>

        <p class="account-menu__title">Корзина</p>
      </a>
    </div>
  </div>
</div>