<div class="tab-bar">
	<div class="account-menu flex-items">
		<a href="#" class="account-menu__item flex-items">
			<img src="/img/icons/shopping.svg" alt="category" loading="lazy" width="20" height="20" />
			<p class="account-menu__title">Категории</p>
		</a>
		<a href="#" class="account-menu__item flex-items">
			<img src="/img/icons/heart.svg" alt="heart" loading="lazy" width="20" height="20" />
			<p class="account-menu__title">Избранное</p>
		</a>
		<a href="#" class="account-menu__item flex-items">
			<img src="/img/icons/align.svg" alt="align" loading="lazy" width="20" height="20" />
			<p class="account-menu__title">Сравнение</p>
		</a>
		<a href="#" class="account-menu__item flex-items">
			<div class="account-menu__shopping-icon flex-items">
				<img src="/img/icons/shopping.svg" alt="shopping" loading="lazy" width="20" height="20" />
				<span class="account-menu__count">24</span>
			</div>

			<p class="account-menu__title">Корзина</p>
		</a>
	</div>
</div>
