// colors
$dark: #090b18;
$light: #ffffff;
$gray: #909090;
$blue: #4789eb;
$blue-light: rgb(71, 137, 235, 0.1);
$red: #ff3a44;

// background
$bg-gray: #f2f3f5;

// text-sizes
$large: 22px;
$medium: 18px;
$small: 16px;
$extra-small: 14px;
$section-header: 36px;

//layout
$gap: 20px;
